@font-face {
    font-family: SuperNaive;
    src: url(fonts/super-naive.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(fonts/comfortaa-regular.ttf);
}
@font-face {
    font-family: Comfortaa-Bold;
    src: url(fonts/comfortaa-bold.ttf);
}

@keyframes rotate {
    0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes rotate-alt {
    0% {
		transform: rotate(-2deg);
    }
    50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}	

@keyframes floating { 
	0%{ 
		transform: translate(0,  0px); 
	} 
	50%{ 
		transform: translate(0, 15px); 
	} 
	100%{
		transform: translate(0, -0px); 
	} 
}   

body {
	background-color: #150424;
	font-family: Comfortaa;
    color: white;
	font-size: 30px;
}

.title-background {
	background-color: #c2b4cd;
	box-shadow:
		inset -4px 4px 0 #eedefa,
		inset 4px -4px 0 #a294ad;
	max-height: 200px;
	max-width: 350px;
	margin-bottom: 20px;
}

.title {
	max-height: 200px;
	max-width: 200px;
}

.me-arrow {
	padding-top: 100px;
	padding-bottom: 100px;
	animation: rotate 1s step-end infinite;
}

.me {
	max-height: 350px;
	animation-name: floating; 
	animation-duration: 3s; 
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out;
}  

.main-window {
	background-color: #c2b4cd;
	box-shadow:
		inset -4px 4px 0 #eedefa,
		inset 4px -4px 0 #a294ad;
	padding: 10px 10px;
	display: inline-block;
	font-size: 16px;
	margin: 0px 4px;
	margin-bottom: 15px;
	min-width: 330px;
}
.main-background {
	background-color: #2b0a49;
	box-shadow:
		inset -6px 6px 0 #1d0732,
		inset 6px -6px 0 #401164;
	padding: 10px 10px;
}

.nav-buttons{
	width: 100%;
	display: flex;
	justify-content: center;
}
.socials-button{
	background-color: #c2b4cd;
	box-shadow:
		inset -4px 4px 0 #eedefa,
		inset 4px -4px 0 #a294ad;
	font-size: 16px;
	cursor: pointer;
	margin: 0px 5px;
	padding: 5px 5px 5px 5px;
	color: black;
	text-decoration: none;
}
.about-button{
	background-color: #c2b4cd;
	box-shadow:
		inset -4px 4px 0 #eedefa,
		inset 4px -4px 0 #a294ad;
	font-size: 16px;
	cursor: pointer;
	margin: 0px 5px;
	padding: 5px 5px 5px 5px;
	color: black;
	text-decoration: none;
}

.twitter-button {
	width: 100%;
	background-color: #438bd6;
	box-shadow:
		inset -4px 4px 0 #5ba0f1,
		inset 4px -4px 0 #3070b2;
	color:white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Comfortaa-Bold;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.kofi-button {
	width: 100%;
	background-color: #4CAF50;
	box-shadow:
		inset -4px 4px 0 #60cd65,
		inset 4px -4px 0 #3a8d3d;
	color:white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Comfortaa-Bold;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.github-button {
	width: 100%;
	background-color: #4d464d;
	box-shadow:
		inset -4px 4px 0 #726b72,
		inset 4px -4px 0 #403940;
	color:white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Comfortaa-Bold;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}